.container {
    height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    background: url(../../assets/azul.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .rectTotal {
        background-color: #0093C1;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .3;
    }

    .parallaxRect {
        position: absolute;
        width: 100vw;
        height: 100vh;

        .rectLeft {
            background-color: #0093C1                ;
            position: absolute;
            width: 50vw;
            height: 100vh;
            opacity: .7;
            left: 25%;
        }
    }

    .rectLeftText {
        width: 50%;
        height: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 1;

        h1 {
            color: white;
            font-family: 'Josefin sans', sans-serif;
            font-size: 3rem;
            margin-bottom: 1rem;
            margin-top: 5rem;
            padding:0 .1rem .1rem;
            border-bottom: 1px solid white;
        }

        .containerTextLeft {
            width: 80%;
            height: 50%;
            padding: 1rem;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;

           .card {
                height: 90%;
                width: 55%;
                background-color: white;
                border-radius: 30px;

                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;

                transition: 200ms ease-in-out;
                cursor: pointer;

                box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);

                img {
                    width: 35%;
                    border-radius: 50%;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
                }

                .containerCardText {
                    width: 80%;
                    margin-top: -2rem;
                    h1 {
                        color: #0093C1;
                        font-size: 2rem;
                        text-align: center;
                        padding: 0;
                        margin: 0;

                    }
    
                    h2 {
                        color: #0093C1;
                        font-size: .9rem;
                        text-align: center;
                        font-weight: 300;

                    }
                }

                .containerCardContact {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    div {
                        display: flex;
                        align-items: center;
                        padding: .4rem;

                        .iconCard {
                            color:#0093C1;
                            padding-right: .3rem;
                            border-right: 1px solid black;
                            width: 2.5rem;
                        }

                        p {
                            padding-left: .3rem;
                            font-size: 1.4rem;
                            font-family: 'Josefin sans', sans-serif;
                        }
                    }
                    
                }

                &:hover {
                    transform: translateY(-20px);
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        .parallaxRect {
            display: flex;
            align-items: center;
            justify-content: center;

            .rectLeft {
                position: inherit;
                width: 100vw;
                height: 60vh;

                
            }
        }
        
        .rectLeftText {
            height: 80vh;
            width: 105%;
            justify-content: center;

            .textTitle {
                font-size: 2rem;
                margin-top: 1rem;
            }

            .containerTextLeft {
                .card {
                    height: 100%;
                    width: 100%;

                    .containerCardText {
                        margin-top: 0;

                        h1 {
                            font-size: 1.5rem;
                        }

                        h2 {
                            font-size: .8rem;
                        }
                    }

                    .containerCardContact {
                        div {
                            padding: 0;

                            .iconCard {
                                width: 1.1rem;
                            }
                            p {
                                font-size: 1rem;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
