
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: url(../../assets/verde.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .rectTotal {
        background-color: #014011;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .3;
    }

    .rectLeft {
        background-color: #014011;
        position: absolute;
        width: 50%;
        height: 100%;
        opacity: .5;

        transition: .5s ease-in-out;
    }
    
    

    .parallaxText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-family: 'Josefin sans', sans-serif;
            text-transform: uppercase;
            font-size: 12rem;
            z-index: 1;
            color: white;

            transition: .5s ease-in-out;
    
            text-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
        }
    
        p {
            font-family: 'Bebas Neue', cursive;
            font-size: 5rem;
            margin-top: -3rem;
            letter-spacing: 1rem;
            color: white;
            z-index: 3;

            transition: .5s ease-in-out;
    
            text-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
        }

    }

    .effectScroll {
        position: absolute;
        bottom: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        .parallaxText {
            h1 {
                font-size: 6rem;
            }
            
            p {
                
                font-size:2.5rem;
                letter-spacing: .2rem;
                margin-top: -1rem;
            }
        }

        .rectLeft {
            width: 100%;
            height: 40%;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        .parallaxText {
            h1 {
                font-size: 3rem;
            }
            
            p {
                font-size:1.5rem;
                letter-spacing: .2rem;
                margin-top: 0;
            }
        }

        .rectLeft {
            width: 100%;
            height: 40%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}