.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        

    background: url(../../assets/amarelo.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .rectTotal {
        background-color: #F2DC6D;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: .3;
    }

    .parallaxRect {
        width: 100vw;
        height: 100vh;

        .rectLeft {
            background-color: #F2DC6D                ;
            position: absolute;
            width: 50vw;
            height: 100vh;
            opacity: .7;
            left: 25%;
        }
    }

    

    .rectLeftText {
        width: 50%;
        height: 100vh;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 1;

        h1 {
            color: white;
            font-family: 'Josefin sans', sans-serif;
            font-size: 3rem;
            margin-bottom: 1rem;
            margin-top: 5rem;
            padding:0 .1rem .1rem;
            border-bottom: 1px solid white;
            text-shadow: 2px  2px 2px rgba(0, 0, 0, .5);
        }

        .containerTextLeft {
            width: 80%;
            height: 50%;
            padding: 1rem;
            overflow: auto;
            opacity: 1;

            .text{
                font-family: 'Josefin sans', sans-serif;
                font-size: 1.6rem;
                color: white;
                text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);

            }
        }
    }

    .containerText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        margin-right: 10rem;
        z-index: 3;

        h1 {
            font-family: 'Josefin sans', sans-serif;
            text-transform: uppercase;
            font-size: 8rem;
            z-index: 1;
            color: white;
    
            text-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
        }
    
        p {
            font-family: 'Bebas Neue', cursive;
            font-size:2.5rem;
            margin-top: -2rem;
            letter-spacing: 1rem;
            color: white;
            z-index: 3;
    
            text-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
        }
    }

   

    .effectScroll {
        position: absolute;
        bottom: 1rem;
    }
}