.container {
    display: flex;

    div#home, div#jalapao, div#mateiros, div#oqfazer, div#contatos {
        width: 100vw;
        height: 100vh;
    }
    
}


@media only screen and (max-width: 992px) {
    .container {
        flex-direction: column;
    }
}